@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
  }

  #app {
    padding: 0 0;
    width: 100vw;
    height: 100vh;
  }

  .Normal{
    background-color: #b8d494;
    color: #000000;
    }

    .Grass{
        background-color: #44FF44;
        color: #000000;
    }

    .Fire{
        background-color: #ff3300;
        color: #FFFFFF;
    }

    .Water{
        background-color: #4444FF;
        color: #FFFFFF;
    }

    .Flying{
        background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
        background-color: #3dc7ef;
    
        color: #000000;
    }

    .Fighting{
        background-color: #c24d22;
        color: #FFFFFF;
    }

    .Poison{
        background-color: #550055;
        color: #FFFFFF;
    }

    .Electric{
        background-color: #AAAA00;
        color: #000000;
    }

    .Ground{
        background: linear-gradient(180deg, #a0a061 50%, #69471d 50%);
        background-color: #69471d;
        color: #000000;
    }

    .Rock{
        background-color: #776b24;
        color: #FFFFFF;
    }

    .Psychic{
        background: linear-gradient(180deg, #f329f3 50%, #631663  50%);
        background-color: #631663;
        color: #FFFFFF;
    }

    .Ice{
        background-color: #69c2c2;
        color: #000000;
    }

    .Bug{
        background-color: #96fa24;
        color: #000000;
    }

    .Ghost{
        background-color: #aa00FF;
        color: #FFFFFF;
    }

    .Steel{
        background: linear-gradient(180deg, #999999 50%, #444444 50%);
        color: #000000;
    }

    .Dragon{
        background: linear-gradient(180deg, #4e86ff 50%, #5d1566 50%);
        background-color: #4e86ff ;
        color: #FFFFFF;
    }

    .Dark{
        background-color: #222222;
        color: #FFFFFF;
    }

    .Fairy{
        background-color: #f798a8;
        color: #000000;
    }
}
