 /*Font Faces*/
 @font-face {
     font-family: Roboto;
     src: url('../assets/fonts/Roboto-Regular.ttf');
 }
 
 @font-face {
     font-family: Roboto;
     src: url('../assets/fonts/Roboto-Light.ttf');
     font-weight: 300;
 }

 @font-face {
     font-family: Roboto;
     src: url('../assets/fonts/Roboto-LightItalic.ttf');
     font-weight: 300;
     font-style: italic;
 }

 @font-face {
     font-family: Roboto;
     src: url('../assets/fonts/Roboto-Black.ttf');
     font-weight: 900;
 }

 /*General settings and Body*/

 :root{
     --navmenu-color: rgb(206, 7, 7);
     --text-color: #222222;
     --footer-color: #888888;
     --bg-theme: url('../assets/img/light_bg.jpg');
     --card-color: #CCCCCC;
     --edge-color: #222222;
     --gradient-top:rgba(255,255,255,1) 0%;
     --gradient-mid: rgba(255,255,255,1) 35%;
     --gradient-bot:rgba(176,176,176,1) 100%;
     --fields-bg: #ffffff;
    --thumbnail-bg: #FFFFFF;
 }

 html[data-theme="dark"]{
    --navmenu-color: rgb(30, 30, 204);
    --text-color: #FFFFFF;
    --footer-color: #444444;
    --bg-theme: url('../assets/img/dark_bg.jpg');
    --card-color: #666666;
    --edge-color: #FFFFFF;
    --gradient-top: rgb(25, 25, 25, 1) 0%;
    --gradient-mid: rgba(25,25,25,1) 35%;
    --gradient-bot:rgb(119, 119, 119) 100%;
    --fields-bg: #222222;
    --thumbnail-bg: #999999;
 }

 #searchPkmn, #themeLight, #themeDark{
    background-color: var(--fields-bg);
 }


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: Roboto;
    color: var(--text-color);
}

body{
    background-image: var(--bg-theme);
    background-size: cover;
}
.grid-container{
    display: grid;
    grid-template-columns: 5fr 2.5fr;
    grid-template-rows: 2.5rem 1fr 2rem;
    width: 100vw;
    height: 100vh;
}

h3{
    font-weight: 500;
}

h4{
    font-weight: 100;
    font-style: italic;
}

/*Navigation menu and header*/

.navMenu{
    background-color: var(--navmenu-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 3;
    padding: 0 1rem;
}

.pkmnInfo{
    background-color: green;
}

/*Deck and cards.*/
.deck{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    grid-column: 1 / 3;
    gap: 1rem;
    overflow: auto;
    padding: 1.25rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
    width: 10em;
    height: 14em;
    text-align: center;
    border: 0.1em solid var(--edge-color);
    border-radius: 5%;
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.616);
}

.pkmnImg{
    max-width: 70%;
    max-height: 50%;
    background-color: var(--thumbnail-bg);
    padding: 0.25rem;
    margin: 0.5rem 0;
    border-radius: 10%;
}

.pkmnTyping{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
/*Info Window Styles*/
.info{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, var(--gradient-top), var(--gradient-mid), var(--gradient-bot)); 
    display: none;
    flex-direction: column;
    border-left: 0.063rem solid var(--edge-color);
}

.info h3{
    font-weight: 600;
    font-size:1rem;
}

.info h4{
    font-size: 1.5rem;
}

.infoHeader{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1em;
}

.infoImages{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 16rem;
}

.infoImages div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoImages p{
    text-align: center;
}

.infoArt {
    grid-row: 1 / 3;
    align-items: center;
}

.infoArt img{
    max-width: 100%;
    max-height: 16rem;
}

.infoFront{
    background-color: #BBBBBB;
    border-radius: 50%;
    height: 80%;
    width: 70%;
}

.infoBack{
    background-color: #BBBBBB;
    border-radius: 50%;
    height: 80%;
    width: 70%;
}

.infoBio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60%;
}

.infoBio div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoTyping{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.statsWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoStats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 0 1rem;
}

.infoStats div{
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #888888;
    border-radius: 0.25rem;
}

/*TO-DO: Improve responsiveness of the website.*/
/*Footer. Additional info. Media-queries*/
.footer{
    background-color: var(--footer-color);
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Typing styles*/
.type{
    width: 40%;
    font-size: 0.75rem;
    padding: 0.1rem 0rem;
    text-align: center;
    border-radius: 0.25rem;
}

.infoTyping .type{
    font-size: 1rem;
    padding: 0.25rem 0rem;
}

.typeNormal{
    background-color: #b8d494;
    color: #000000;
}

.typeGrass{
    background-color: #44FF44;
    color: #000000;
}

.typeFire{
    background-color: #ff3300;
    color: #FFFFFF;
}

.typeWater{
    background-color: #4444FF;
    color: #FFFFFF;
}

.typeFlying{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
  
    color: #000000;
}

.typeFighting{
    background-color: #c24d22;
    color: #FFFFFF;
}

.typePoison{
    background-color: #550055;
    color: #FFFFFF;
}

.typeElectric{
    background-color: #AAAA00;
    color: #000000;
}

.typeGround{
    background: linear-gradient(180deg, #a0a061 50%, #69471d 50%);
    background-color: #69471d;
    color: #000000;
}

.typeRock{
    background-color: #776b24;
    color: #FFFFFF;
}

.typePsychic{
    background: linear-gradient(180deg, #f329f3 50%, #631663  50%);
    background-color: #631663;
    color: #FFFFFF;
}

.typeIce{
    background-color: #69c2c2;
    color: #000000;
}

.typeBug{
    background-color: #96fa24;
    color: #000000;
}

.typeGhost{
    background-color: #aa00FF;
    color: #FFFFFF;
}

.typeSteel{
    background: linear-gradient(180deg, #999999 50%, #444444 50%);
    color: #000000;
}

.typeDragon{
    background: linear-gradient(180deg, #4e86ff 50%, #5d1566 50%);
    background-color: #4e86ff ;
    color: #FFFFFF;
}

.typeDark{
    background-color: #222222;
    color: #FFFFFF;
}

.typeFairy{
    background-color: #f798a8;
    color: #000000;
}