@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face{
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-weight: bold;
}

*{
    box-sizing: border-box;
    font-family: Inter;
}

body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.logo{
    height: 3.125rem;
    padding: 5px 10px;
}

h2{
    text-align: center;
    padding: 20px 0px;
}

.navMenu{
    background-color: #222222;
    height: 50px;
}

.navMenu  ul{
    list-style: none;
    margin: 0;
    float: right;
}

.navMenu li{
    display: block;
    float: left;
}

.navMenu a {
    display: block;
    text-decoration: none;
    height: 50px;
    padding: 15px 16px;
    color: #ffffff;
}

.navMenu a:hover{
    background-color: #777777;
}

.headBanner{
    display:flex;
    align-items: center;
    position:relative;
    height: 18rem;
    width: 100%;
}

.headBanner h1{
    width: 100%;
    position:absolute;
    text-align: center;
    line-height: 180px;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}

#headImgIndex{
    background-image: url(../assets/img/main_header.jpg);
    width: 100%;
    height: 18rem;
}

#headImgContact{
    background-image: url(../assets/img/contact_header.jpg);
    width: 100%;
    height: 18rem;
    background-position: center;
}

.categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 48px;
    gap: 48px;
}

.filaCategoria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap:99px;
}

#introPic img{
    max-width: 100%;
}

.filaCategoria>p{
    width: 60%;
}

.filaCategoria.cardRow{
    padding-left: 162;
    justify-content: center;
    flex-wrap: wrap;
    width: fi;
    gap: 48px;
}

.infoCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1.5rem;
    gap: 1.5rem;
    border: 1px solid #000000;
    border-radius: 20px;
    flex: 0 1 20rem;
    filter: drop-shadow(0px 0px 8px #222222);
    background-color: #FFFFFF;
}

.infoCard img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.infoCard p{
    padding: 0 1.5rem
}

.infoCard button{
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: #ffffff;
}

.categoria.exp{
    background-color: #222222;
}

.exp>h3{
    color: #ffffff;
    font-family: Montserrat;
}

.extra>.filaCategoria{
    gap: 3rem;
    justify-content: center;
}

.extra>h3{
    font-family: Montserrat;
    text-align: center;
}

.extra .filaCategoria{
    width: fit-content;
}

.exp img{
    max-width: 100%;
}

.hobby{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 1.75rem;
    width: 21.25rem;
}

.hobby>h4{
    font-family: Montserrat;
    display: flex;
    align-items: center;
    text-align: center;
}

.hobby img{
    height: 3.125rem;
    max-width: 100%;
    min-width: 1.25rem;
}
.cvTitol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18rem;
    padding: 20px 50px;
    background-image: url(../assets/img/cv_header.jpeg);
}

.cvTitol h1{
    margin: 0px;
    color:#ffffff;
}

.cvProfilepic > img{
    max-height: 15.225rem;
}

.cvIndex{
    display: table;
    margin: 0px auto;
}

.cvSeccio{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px 50px 20px 50px;
    border-bottom: 1px solid #000000;
}

.cvCategoria{
    width: 40vw;
}

.cvCategoria h2{
    text-align: left;
}

.cvDades{
    background-color: #CCCCCC;
    padding: 2.5rem;
    border-radius: 2rem;
    width: 35vw;
}

.cvDades h2{
    margin: 0;
    padding: 0;
    text-align: center;
}

.cvIdiomes table{
    width: 100%;
    border-radius: 1em;
    text-align: center;
}

.cvIdiomes th{
    color: #ffffff;
    background-color: #000000;
}

th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }

  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  }

.cvIdiomes td{
    background-color: #CCCCCC;
}


.cvSubtitol{
    text-align: left;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
}

.contacte{
    width: 50%;
    margin: 0px auto;
}

.contacte label{
    display: inline-block;
    margin-bottom: 8px;
}

.contacte input[type=text]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contacte textarea{
    width: 100%;
}

.submitArea{
    display: flex;
    justify-content: center;
    margin:20px 0px;
    
}
.contacte input[type=submit]{
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: #ffffff;
}

footer{
    margin-top:auto;
    background-color: #222222;
}

.socials{
    margin: 0px auto;
    width: 200px;
}

.socialIcon{
    height: 50px;
    padding: 10px;
}